examples/demo-flow.json
[{"id":"7bcc64d213b129fd","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"334a8f70a8e69922","type":"inject","z":"7bcc64d213b129fd","name":"Set Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/topic","payload":"Hello","payloadType":"str","x":120,"y":60,"wires":[["111ba6407e344187"]]},{"id":"111ba6407e344187","type":"firebase-out","z":"7bcc64d213b129fd","name":"","database":"c5e941d5f15d3e68","path":"test/stream","pathType":"str","queryType":"set","x":330,"y":60,"wires":[]},{"id":"3bd114843911aad4","type":"debug","z":"7bcc64d213b129fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":280,"wires":[]},{"id":"3ab0e52db2eb5426","type":"firebase-in","z":"7bcc64d213b129fd","name":"Hello?","database":"c5e941d5f15d3e68","outputType":"auto","path":"test/stream","x":90,"y":280,"wires":[["3bd114843911aad4"]]},{"id":"d76f42bfd5460387","type":"firebase-get","z":"7bcc64d213b129fd","name":"","database":"c5e941d5f15d3e68","outputType":"auto","path":"topic","pathType":"msg","x":330,"y":200,"wires":[["867ba8d62b38aff0"]]},{"id":"867ba8d62b38aff0","type":"debug","z":"7bcc64d213b129fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"23d73080123c1724","type":"inject","z":"7bcc64d213b129fd","name":"Get Hello","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/stream","payload":"","payloadType":"date","x":120,"y":200,"wires":[["d76f42bfd5460387"]]},{"id":"58d35c7af4baea03","type":"inject","z":"7bcc64d213b129fd","name":"Push Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/timestamp","payload":"","payloadType":"date","x":140,"y":120,"wires":[["398f07e4b0d5a67d"]]},{"id":"398f07e4b0d5a67d","type":"firebase-out","z":"7bcc64d213b129fd","name":"","database":"c5e941d5f15d3e68","path":"topic","pathType":"msg","queryType":"push","x":330,"y":120,"wires":[]},{"id":"c5e941d5f15d3e68","type":"database","name":"My Database","authType":"anonymous","credentials":{}}]