examples/demo-flow.json
[{"id":"13c4e8e8f85d50b9","type":"tab","label":"Demo Flow","disabled":false,"info":"","env":[]},{"id":"57c1f30f8a825e5c","type":"group","z":"13c4e8e8f85d50b9","name":"Set \"Hello\" to \"test/stream\"","style":{"label":true,"stroke":"#7fb7df"},"nodes":["5792767043952f56","d4443dc473b7c4f6"],"x":14,"y":19,"w":452,"h":82},{"id":"8f193a9c1fc939fb","type":"group","z":"13c4e8e8f85d50b9","name":"Set/Update two leds to \"test/cmd\"","style":{"stroke":"#c8e7a7","label":true},"nodes":["7376db537268899b","b830fde9b0b58bad","c571be138972b9e2","7307a36364f06013"],"x":14,"y":119,"w":472,"h":142},{"id":"fc76c3f064a0477a","type":"group","z":"13c4e8e8f85d50b9","name":"Push Timestamp to \"test/timestamp\"","style":{"stroke":"#ffdf7f","label":true},"nodes":["0aec6d8fe15f899e","6c8775eb87a84afe"],"x":14,"y":279,"w":392,"h":82},{"id":"46b2c2b0193cbcce","type":"group","z":"13c4e8e8f85d50b9","name":"Get all timestamps from \"test/timestamp\"","style":{"stroke":"#b797cf","label":true},"nodes":["41b56060aa915b9d","18c3c3d3b515c709","51707ebd32d0c239"],"x":14,"y":379,"w":652,"h":82},{"id":"f1f2616bdd73320c","type":"group","z":"13c4e8e8f85d50b9","name":"Print all root data","style":{"stroke":"#ff0000","label":true},"nodes":["c352d41a4a3a172c","a7ffd5eee64c6ea8"],"x":14,"y":479,"w":412,"h":82},{"id":"5792767043952f56","type":"inject","z":"13c4e8e8f85d50b9","g":"57c1f30f8a825e5c","name":"Set Hello","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":120,"y":60,"wires":[["d4443dc473b7c4f6"]]},{"id":"d4443dc473b7c4f6","type":"firebase-out","z":"13c4e8e8f85d50b9","g":"57c1f30f8a825e5c","name":"","database":"e8796a1869e179bc","path":"test/stream","pathType":"str","priority":"","queryType":"set","x":360,"y":60,"wires":[]},{"id":"a7ffd5eee64c6ea8","type":"debug","z":"13c4e8e8f85d50b9","g":"f1f2616bdd73320c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":520,"wires":[]},{"id":"c352d41a4a3a172c","type":"firebase-in","z":"13c4e8e8f85d50b9","g":"f1f2616bdd73320c","name":"All Data","database":"e8796a1869e179bc","listenerType":"value","outputType":"auto","path":"","x":90,"y":520,"wires":[["a7ffd5eee64c6ea8"]]},{"id":"41b56060aa915b9d","type":"firebase-get","z":"13c4e8e8f85d50b9","g":"46b2c2b0193cbcce","name":"Firebase GET","constraint":{"limitToLast":2},"database":"e8796a1869e179bc","outputType":"auto","path":"topic","pathType":"msg","useConstraint":true,"x":360,"y":420,"wires":[["18c3c3d3b515c709"]]},{"id":"18c3c3d3b515c709","type":"debug","z":"13c4e8e8f85d50b9","g":"46b2c2b0193cbcce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":420,"wires":[]},{"id":"51707ebd32d0c239","type":"inject","z":"13c4e8e8f85d50b9","g":"46b2c2b0193cbcce","name":"Get All Timestamps","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/timestamp","x":150,"y":420,"wires":[["41b56060aa915b9d"]]},{"id":"0aec6d8fe15f899e","type":"inject","z":"13c4e8e8f85d50b9","g":"fc76c3f064a0477a","name":"Push Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/timestamp","payload":"","payloadType":"date","x":140,"y":320,"wires":[["6c8775eb87a84afe"]]},{"id":"6c8775eb87a84afe","type":"firebase-out","z":"13c4e8e8f85d50b9","g":"fc76c3f064a0477a","name":"","database":"e8796a1869e179bc","path":"topic","pathType":"msg","queryType":"push","x":330,"y":320,"wires":[]},{"id":"7376db537268899b","type":"inject","z":"13c4e8e8f85d50b9","g":"8f193a9c1fc939fb","name":"Set Object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"led_one\": true, \"led_two\": false}","payloadType":"json","x":120,"y":160,"wires":[["b830fde9b0b58bad"]]},{"id":"b830fde9b0b58bad","type":"firebase-out","z":"13c4e8e8f85d50b9","g":"8f193a9c1fc939fb","name":"","database":"e8796a1869e179bc","path":"test/cmd","pathType":"str","queryType":"set","x":360,"y":160,"wires":[]},{"id":"c571be138972b9e2","type":"firebase-out","z":"13c4e8e8f85d50b9","g":"8f193a9c1fc939fb","name":"","database":"e8796a1869e179bc","path":"test/cmd","pathType":"str","queryType":"update","x":370,"y":220,"wires":[]},{"id":"7307a36364f06013","type":"inject","z":"13c4e8e8f85d50b9","g":"8f193a9c1fc939fb","name":"Update Object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"led_one\": false, \"led_two\": true}","payloadType":"json","x":140,"y":220,"wires":[["c571be138972b9e2"]]},{"id":"e8796a1869e179bc","type":"database-config","name":"My Database","authType":"privateKey","createUser":false}]