examples/demo-flow.json
[{"id":"7bcc64d213b129fd","type":"tab","label":"Demo Flow","disabled":false,"info":"","env":[]},{"id":"7da52e1e0a20901b","type":"group","z":"7bcc64d213b129fd","name":"Set \"Hello\" to \"test/stream\"","style":{"label":true,"stroke":"#7fb7df"},"nodes":["334a8f70a8e69922","111ba6407e344187"],"x":14,"y":19,"w":412,"h":82},{"id":"4f90e33eb2d50e11","type":"group","z":"7bcc64d213b129fd","name":"Set/Update two leds to \"test/cmd\"","style":{"stroke":"#c8e7a7","label":true},"nodes":["3195f85b20d70321","e0f9b2ead40bdeac","41151321eaf8767e","425620b29ae1c91c"],"x":14,"y":119,"w":452,"h":142},{"id":"7cb7f9bc69850d06","type":"group","z":"7bcc64d213b129fd","name":"Push Timestamp to \"test/timestamp\"","style":{"stroke":"#ffdf7f","label":true},"nodes":["58d35c7af4baea03","398f07e4b0d5a67d"],"x":14,"y":279,"w":432,"h":82},{"id":"768f6dd9d487d9d4","type":"group","z":"7bcc64d213b129fd","name":"Get \"Hello\" from \"test/stream\"","style":{"stroke":"#b797cf","label":true},"nodes":["d76f42bfd5460387","867ba8d62b38aff0","23d73080123c1724"],"x":14,"y":379,"w":592,"h":82},{"id":"5da705754d3f6789","type":"group","z":"7bcc64d213b129fd","name":"Print all root data","style":{"stroke":"#ff0000","label":true},"nodes":["3ab0e52db2eb5426","3bd114843911aad4"],"x":14,"y":479,"w":392,"h":82},{"id":"334a8f70a8e69922","type":"inject","z":"7bcc64d213b129fd","g":"7da52e1e0a20901b","name":"Set Hello","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello","payloadType":"str","x":120,"y":60,"wires":[["111ba6407e344187"]]},{"id":"111ba6407e344187","type":"firebase-out","z":"7bcc64d213b129fd","g":"7da52e1e0a20901b","name":"","database":"1399e14ff678d746","path":"test/stream","pathType":"str","queryType":"set","x":330,"y":60,"wires":[]},{"id":"3bd114843911aad4","type":"debug","z":"7bcc64d213b129fd","g":"5da705754d3f6789","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":520,"wires":[]},{"id":"3ab0e52db2eb5426","type":"firebase-in","z":"7bcc64d213b129fd","g":"5da705754d3f6789","name":"All Data","database":"1399e14ff678d746","outputType":"auto","path":"","x":90,"y":520,"wires":[["3bd114843911aad4"]]},{"id":"d76f42bfd5460387","type":"firebase-get","z":"7bcc64d213b129fd","g":"768f6dd9d487d9d4","name":"Firebase GET","database":"1399e14ff678d746","outputType":"auto","path":"topic","pathType":"msg","x":340,"y":420,"wires":[["867ba8d62b38aff0"]]},{"id":"867ba8d62b38aff0","type":"debug","z":"7bcc64d213b129fd","g":"768f6dd9d487d9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"23d73080123c1724","type":"inject","z":"7bcc64d213b129fd","g":"768f6dd9d487d9d4","name":"Get Hello","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/stream","x":120,"y":420,"wires":[["d76f42bfd5460387"]]},{"id":"58d35c7af4baea03","type":"inject","z":"7bcc64d213b129fd","g":"7cb7f9bc69850d06","name":"Push Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test/timestamp","payload":"","payloadType":"date","x":140,"y":320,"wires":[["398f07e4b0d5a67d"]]},{"id":"398f07e4b0d5a67d","type":"firebase-out","z":"7bcc64d213b129fd","g":"7cb7f9bc69850d06","name":"","database":"1399e14ff678d746","path":"topic","pathType":"msg","queryType":"push","x":340,"y":320,"wires":[]},{"id":"3195f85b20d70321","type":"inject","z":"7bcc64d213b129fd","g":"4f90e33eb2d50e11","name":"Set Object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"led_one\": true, \"led_two\": false}","payloadType":"json","x":120,"y":160,"wires":[["e0f9b2ead40bdeac"]]},{"id":"e0f9b2ead40bdeac","type":"firebase-out","z":"7bcc64d213b129fd","g":"4f90e33eb2d50e11","name":"","database":"1399e14ff678d746","path":"test/cmd","pathType":"str","queryType":"set","x":330,"y":160,"wires":[]},{"id":"41151321eaf8767e","type":"firebase-out","z":"7bcc64d213b129fd","g":"4f90e33eb2d50e11","name":"","database":"1399e14ff678d746","path":"test/cmd","pathType":"str","queryType":"update","x":350,"y":220,"wires":[]},{"id":"425620b29ae1c91c","type":"inject","z":"7bcc64d213b129fd","g":"4f90e33eb2d50e11","name":"Update Object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"led_one\": false, \"led_two\": true}","payloadType":"json","x":140,"y":220,"wires":[["41151321eaf8767e"]]},{"id":"6a39a4d2ca3f1ccd","type":"firebase-in","z":"7bcc64d213b129fd","name":"Firebase IN","database":"1399e14ff678d746","outputType":"auto","path":"test/stream","x":110,"y":680,"wires":[[]]},{"id":"0f39d6078473aa76","type":"firebase-get","z":"7bcc64d213b129fd","name":"Firebase GET","database":"1399e14ff678d746","outputType":"auto","path":"topic","pathType":"msg","x":300,"y":680,"wires":[[]]},{"id":"3928f53673545948","type":"firebase-out","z":"7bcc64d213b129fd","name":"Firebase OUT","database":"1399e14ff678d746","path":"topic","pathType":"msg","queryType":"set","x":500,"y":680,"wires":[]},{"id":"1399e14ff678d746","type":"database-config","name":"My Database","authType":"anonymous"}]